{% extends 'base.html' %}

{% block title %}My Account{% endblock %}

{% block header %}
    <h1>My Account</h1>
{% endblock %}

{% block content %}
    <p class="profile-info">User Name: <span class="profile-value">{{ g.user['username'] }}</span></p>
    <p class="profile-info">Email: <span class="profile-value">{{ g.user['email'] }}</span></p>
    <br>
    <p class="profile-info">Words Total: <span class="profile-value">{{ total_words}}</span></p>
    <p class="profile-info">Words Learned: <span class="profile-value">{{ status_counts['known'] }}</span></p>
    <p class="profile-info">Words in Flashcards: <span class="profile-value">{{ status_counts['unknown'] }}</span></p>
    <p class="profile-info">Words in Dashboard: <span class="profile-value">{{ status_counts['new'] }}</span></p>
    <br>
    <a class='known-btn profile-btn' href="{{ url_for('profile.delete_account') }} ">Delete Account</a>
    <a class='known-btn profile-btn' href="{{ url_for('auth.logout') }} ">Log Out</a>
{% endblock %}